@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");

:root {
  --gren: #54e6af;
  --dark-blue: #2c344b;
  --black: #121725;
  --blue: #5a668a;
  --light-blue: #c2cbe5;
}

body {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  line-height: 28px;
  background-color: var(--black);
  background-image: url(assets/mobile/image-host.jpg);
  background-repeat: no-repeat;
  margin: 0;
}

h1 {
  padding-top: 40px;
  font-size: 26px;
  line-height: 38px;
  text-transform: uppercase;
  color: var(--gren);
  text-align: center;
}

h1 > span {
  color: white;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: var(--light-blue);
  text-align: center;
}

.form {
  order: 2;
  text-align: center;
  margin-top: 40px;
}
input[type="email"] {
  background: var(--dark-blue);
  border-radius: 28px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  opacity: 1;
  width: calc(310px - 32px);
  height: 46px;
  border: 0;
  padding-left: 32px;
}

input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input[type="email"]:focus {
  outline: none;
}

input[type="submit"] {
  margin-top: 16px;
  background: var(--gren);
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
  border-radius: 28px;
  color: var(--black);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  height: 46px;
  width: 310px;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #b3ffe2;
}

#validation {
  font-size: 12px;
  font-weight: bold;
  color: #fb3e3e;
  padding-left: 20px;
}

.hidden {
  visibility: hidden;
}

header {
  padding-top: 62px;
  background-image: url(assets/desktop/logo.svg);
  background-repeat: no-repeat;
  height: 56px;
  background-position: center;
}

.container {
  background-color: rgba(18, 23, 37, 0.75);
  height: 100%;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logos {
  margin-top: 20px;
  order: 1;
  height: 17px;
  background-size: 57px 17px, 45px 17px, 100px 17px, 100px 17px;
  background-image: url(assets/desktop/spotify.svg),
    url(assets/desktop/apple-podcast.svg),
    url(assets/desktop/google-podcasts.svg),
    url(assets/desktop/pocket-casts.svg);
  background-repeat: no-repeat;

  background-position: 5px 0px, 85px 0px, 150px 0px, 266px 0, 459px 0;
}

.pattern-dots {
  display: none;
}
